<nav class="navBar">
    <div class="navImg">
        <a [routerLink]="['/']">
            <img class="navImg" src="src/fiouse-short.jpg">
        </a>
    </div>
    <ul class="navLinks serif">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/management/user']">Management</a></li>
        <li (click)="onLogout()">Logout</li>
    </ul>
</nav>
<div class="mgmtNav">
    <ul class="mgmtLinks serif">
        <li><a [routerLink]="['user']">Users</a></li>
    </ul>
</div>
<router-outlet></router-outlet>