<div class="loader" *ngIf="isLoading"></div>
<div class="addBody">
<div style="height: 5vh"> </div>
<section class="addForm" [hidden]="isLoading">
<h3>{{route}} User</h3>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<fieldset [disabled]="isView">
<div class="formO">
<div class="formA">
<span *ngIf="!isView" class="field">Username: <input type="text"
                name="uname"
                id="uname"
                class="inputField"
                [(ngModel)]="user.username"
                [hidden]="isEdit"
                required>
<span [hidden]="!isEdit">{{user.username}}</span>
<br></span>
<span *ngIf="!isView"  class="field">
Team: <span *ngIf="isView">{{user.name}}</span>
                        <select id="team"
                                name="team"
                                [(ngModel)]="user.team_id"
                                #t
                                class="inputField"
                                (change)="user.team_id = t.value"
                                required>
<option value=""></option>
<option *ngFor="let team of teamList"
        [value]="team.id"><span *ngIf="isFiouse">{{team.company_id}}. </span>{{team.name}}</option>
</select></span><br>
<span  class="field">
First Name: <input type="text"
                name="fname"
                id="fname"
                class="inputField"
                [(ngModel)]="user.first_name"
                required><br>
</span>
<span  class="field">
Last Name: <input type="text"
                name="lname"
                id="lname"
                class="inputField"
                [(ngModel)]="user.last_name"
                required><br>
</span>
<span  class="field">
Email: <input type="text"
        name="email"
        id="email"
        class="inputField"
        [(ngModel)]="user.email"
        pattern=".+@.+"
        required><br>
</span>
</div>
<div class="formA">
<span *ngIf="!isView">
<span  class="field">
Password: 
<input type="password"
        name="password"
        id="password"
        class="inputField"
        [(ngModel)]="user.password"><br>
</span>
<span  class="field">
Confirm Password:<span [hidden]="!isEdit"></span>
<input type="password"
        name="cpassword"
        id="cpassword"
        class="inputField"
        [(ngModel)]="user.cpassword"><br></span>
</span>
<span  class="field">
Role: <input type="text"
        name="role"
        id="role"
        class="inputField"
        [(ngModel)]="user.role"
        required><br>
</span>
<span  class="field">
Reports To (Optional): <select id="reports_to"
        name="reports_to"
        [(ngModel)]="user.reports_to_id"
        class="inputField"        
        #r
        (change)="user.reports_to_id = r.value">
<option value=""></option>
<option *ngFor="let reportsTo of userList"
        [value]="reportsTo.id"><span *ngIf="isFiouse">{{reportsTo.company_id}}. </span>{{reportsTo.last_name}}, {{reportsTo.first_name}}</option>
</select><br>
</span>
</div>
</div>
<div *ngIf="!isView">
To save these changes, please enter your password below and hit "Save".<br>
<input type="password"
        name="opassword"
        id="opassword"
        class="inputField"
        [(ngModel)]="user.opassword"
        required><br>
<button type="submit" class="fButton">Save</button>
<button type=button class="fButton" (click)="onDelete()" [hidden]="!isEdit">Delete</button><br>
</div>
</fieldset>
<span *ngIf="isEdit"><button type=button class="fButton" (click)="onEdit()">{{editor}}</button></span>
<button type=button class="fButton" (click)="onCancel()">Back</button><br>
</form>
</section>
</div>
<div class="footer">
    <div class="f-copyright">&copy; Copyright Patrick Holley 2017</div>
    <div class="f-contact">Phone: 029 004 1991<br>
    Email: contact.fiouse@gmail.com</div>
</div>