.addBody {
    height: 75vh;
    min-height: 650px;
}

.addForm {
    border: none;
    border-radius: 25px;
    background-color: rgb(225, 230, 215);
    color: rgb(90, 90, 90);
    width: 50%;
    min-width: 450px;
    margin: 0 auto;
    padding: 25px;
}

.addForm fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.fButton {
    margin: 5px;
    width: 125px;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.formA {
    width: 49%;
    min-width: 200px;
}

.formO {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputField {
    background-color: rgba(255, 255, 255, 0.75);
    outline: none;
    border: 1px solid rgb(120, 155, 125);
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .addBody {
        min-height: 1000px;
    }
    .addForm {
        min-width: 250px;
    }
    .formO {
        flex-direction: column;
    }
}