<h2>Login {{loggedIn}}</h2>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  Username: <input type="text"
                          name="username"
                          id="username"
                          [(ngModel)]="login.username"
                          required><br>
  Password: <input type="password"
                    name="password"
                    id="password"
                    [(ngModel)]="login.password"
                    required><br>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button><br>
</form>
<a [routerLink]="['/contact']">Don't have an account?</a>
<hr>
<button type="submit" class="btn btn-primary" (click)="onReset()">Hard Data Reset (Admin)</button>