<div class="loginBar"></div>
<div class="welcomeBox">
  <div class="logoBox">
    <img src="/src/fiouse-full.jpg">
  </div>
  <div class="loginForm">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      Username<br>
      <input type="text"
              name="username"
              id="username"
              class="inputField serif"                          
              [(ngModel)]="login.username"
              [disabled]="isLoggingIn"
              required><br>
      Password<br>
      <input type="password"
              name="password"
              id="password"
              class="inputField"
              [(ngModel)]="login.password"
              [disabled]="isLoggingIn"
              required><br>
      <button type="submit" class="loginButton serif" [disabled]="!f.valid || this.loginService.isLoggingIn">
        <span *ngIf="!this.isLoggingIn">Login</span>
        <span *ngIf="this.isLoggingIn">Please wait . . .</span>
      </button><br>
      <span class="loginButton serif" (click)="onContact()">Don't have an account?</span>
    </form>
  </div>
  <div class="loader" *ngIf="this.isLoggingIn"></div>
</div>