<nav class="navBar"></nav>
<div class="welcomeBox">
  <div class="logoBox">
    <img src="src/fiouse-full.jpg">
  </div>
  <div class="loginForm">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      Username<br>
      <input type="text"
              name="username"
              id="username"
              class="inputField serif"                          
              [(ngModel)]="login.username"
              [disabled]="isLoggingIn"
              required><br>
      Password<br>
      <input type="password"
              name="password"
              id="password"
              class="inputField"
              [(ngModel)]="login.password"
              [disabled]="isLoggingIn"
              required><br>
      <button type="submit" class="fButton serif" [disabled]="!f.valid || this.isLoggingIn">
        <span *ngIf="!this.isLoggingIn">Login</span>
        <span *ngIf="this.isLoggingIn">Please wait . . .</span>
      </button><br>
      <span class="fButton serif" (click)="onContact()">Don't have an account?</span>
    </form>
  </div>
  <div class="loader" *ngIf="this.isLoggingIn"></div>
  <div class="error message" *ngIf="submitError">{{submitErrorMessage}}</div>
</div>
<div class="footer">
    <div class="f-copyright">&copy; Copyright Patrick Holley 2017</div>
    <div class="f-contact">Phone: 029 004 1991<br>
    Email: contact.fiouse@gmail.com</div>
</div>