<section [hidden]="isLoading">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  Team: <select id="team"
                name="team"
                [(ngModel)]="user.team_id"
                required>
    <option>Choose a team. . . .</option>
    <option *ngFor="let team of teamList"
            [value]="team">{{team.name}}</option>
  </select><br>
  Username: <input type="text"
                    name="uname"
                    id="uname"
                    [(ngModel)]="user.username"
                    required><br>
  First Name: <input type="text"
                      name="fname"
                      id="fname"
                      [(ngModel)]="user.first_name"
                      required><br>
  Last Name: <input type="text"
                    name="lname"
                    id="lname"
                    [(ngModel)]="user.last_name"
                    required><br>
  Email: <input type="text"
                name="email"
                id="email"
                [(ngModel)]="user.email"
                pattern=".+@.+"
                required><br>
  Password: <input type="password"
                    name="password"
                    id="password"
                    [(ngModel)]="user.password"
                    required><br>
  Confirm Password: <input type="password"
                            name="cpassword"
                            id="cpassword"
                            [(ngModel)]="user.cpassword"
                            required><br>
  Role: <input type="text"
                name="role"
                id="role"
                [(ngModel)]="user.role"
                required><br>
  <hr>
  To save these changes, please enter <i>your</i> password below and hit "Save".<br>
  <input type="password"
          name="opassword"
          id="opassword"
          [(ngModel)]="user.opassword"
          required><br>
  <button type="submit" class="btn btn-primary">Save</button><br>
</form>
</section>