<section [hidden]="isLoading">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    First Name: <input type="text"
                        name="fname"
                        id="fname"
                        [(ngModel)]="profile.first_name"
                        required><br>
    Last Name: <input type="text"
                        name="lname"
                        id="lname"
                        [(ngModel)]="profile.last_name"
                        required><br>
    Email: <input type="text"
                    name="email"
                    id="email"
                    [(ngModel)]="profile.email"
                    required><br>
    New Password: <input type="password"
                        name="password"
                        id="password"
                        [(ngModel)]="profile.password"><br>
    (Optional)<br>
    Confirm Password: <input type="password"
                                name="cpassword"
                                id="cpassword"
                                [(ngModel)]="profile.cpassword"><br>
    (Required if saving new password)<br>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button><br>
</form>
</section>
<a [routerLink]="['/home']">Return Home</a><br>