.homeBody {
    height: 80vh;
    min-height: 35gi0px;
    color: rgb(90, 90, 90);
}

.homeBody h1 {
    margin: 0;
}

.homeBox {
    width: 30%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 25px;
    background-color: rgb(225, 230, 215);
    min-width: 300px;
}