<nav class="navBar">
    <div class="navImg">
        <a [routerLink]="['/']">
            <img class="navImg" src="src/fiouse-short.jpg">
        </a>
    </div>
    <ul class="navLinks serif">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/management']">Management</a></li>
        <li (click)="onLogout()">Logout</li>
    </ul>
</nav>
<div class="homeBody">
    <div style="height: 10vh"> </div>
    <div class="homeBox">
        <h1 style="text-align: center" class="sans-serif">"Excellence"</h1>
        <p class="serif"> . . . is the meaning of the Gaelic word "feabhas". This is what we stand for, and we are commited to providing you with it.</p>
        <p class="serif">Right now, this software is in its infancy, but feel free to get started with managing your users! To do this, click on the "Management" link above.</p>
        <p class="serif">Thank you for choosing Fiouse!</p>
    </div>
</div>