<nav class="navBar">
    <div class="navImg">
        <a [routerLink]="['/']">
            <img class="navImg" src="https://preview.ibb.co/iLggtv/fiouse_short.jpg">
        </a>
    </div>
    <ul class="navLinks serif">
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/management/user']">Management</a></li>
        <li (click)="onLogout()">Logout</li>
    </ul>
</nav>
<div class="homeBody">
    <div style="height: 10vh"> </div>
    <p style="text-align: center; font-size: 3rem;" class="sans-serif">"Excellence"</p>
    <div class="homeBox">
        <p class="serif"> . . . is the meaning of the Gaelic word "feabhas". This is what we stand for, and we are commited to providing you with it.</p>
        <p class="serif">Right now, this software is in its infancy, but feel free to get started with managing your users! To do this, click on the "Management" link above.</p>
        <p class="serif">Thank you for choosing Fiouse!</p>
    </div>
</div>
<div class="footer">
    <div class="f-copyright">&copy; Copyright Patrick Holley 2017</div>
    <div class="f-contact">Phone: 029 004 1991<br>
    Email: contact.fiouse@gmail.com</div>
</div>