<div [hidden]="isLoading">
<h2>Users</h2>
<a [routerLink]="['/management/add-user']">Add User</a><br>
<div>
Edit User: <select id="user"
            name="user"
            [(ngModel)]="user"
            #t
            (change)="editUser(t.value)"
            required>
<option value=""></option>
<option *ngFor="let user of userList"
        [ngValue]="user"><span [hidden]="!isFiouse">{{user.company_id}}. </span>{{user.last_name}}, {{user.first_name}}</option>
</select><br>
</div>
</div>
<router-outlet></router-outlet>